<!Doctype html><html lang="en" ng-app="gourmap"><head><meta charset="utf-8"><title>Gourmap</title>
<link rel="stylesheet" href="gourmap.css">
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="js/angular.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/angular-google-maps.min.js"></script>
<script src="app.js"></script>
</head><body ng-controller="gourmapCtrl">

  <h1>{{helloModel.title}}</h1>
  <p>{{helloModel.description}}</p>

  <input ng-init="freeWord='ラーメン';callSearch(freeWord)" ng-model="freeWord" ng-change="callSearch(freeWord)">

  <div class="result-layout">
    <section class="entry-collection-view">
      <article class="entry" ng-repeat="shop in shops">
        <div class="flex">
            <div class="item item-owner">
                <figure id="owner-{{shop.id}}" class="owner">
                    <img src="{{shop.logo_image}}" class="avatar">
                    <figcaption>{{shop.name}}</figcaption>
                </figure>
            </div>
            <div class="item">
                <p class="description">{{shop.catch}}</p>
                <p class="gist"><a href="http://www.hotpepper.jp/str{{shop.id}}/" target="_blank">店舗詳細を見る</a></p>
                <ul class="meta">
                    <li>アクセス: {{shop.access}}</li>
                    <li>住所: {{shop.address}}</li>
                </ul>
            </div>
        </div>
      </article>
    </section>

    <section class="map-view" id="map-view">
      <google-map center="map.center"
                  zoom="map.zoom"
                  draggable="true"
                  dragging="map.dragging"
                  bounds="map.bounds"
                  events="map.events"
                  options="map.options"
                  pan="true"
                  control="map.control">

      </google-map>
    </section>
  </div>

</body></html>
