<!Doctype html><html lang="en" ng-app="gourmap"><head><meta charset="utf-8"><title>Gourmap</title>
<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
<link rel="stylesheet" href="gourmap.css">
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="app.js"></script>
</head><body ng-controller="gourmapCtrl">

  <header class="header">
    <h1 class="app-name">{{helloModel.title}}</h1>
    <div class="search">
      <div class="pure-form">
        <input class="pure-input-rounded" ng-init="freeWord='ランチ';callSearch(freeWord)" ng-model="freeWord" ng-change="callSearch(freeWord)" placeholder="ex: ラーメン">
      </div>
    </div>
  </header>

  <div class="result-layout" id="result-layout">
    <section class="entry-collection-view" id="entry-collection-view">
      <article class="entry" ng-repeat="shop in shops">
        <div class="flex">
            <div class="item item-owner">
                <figure id="owner-{{shop.id}}" class="owner">
                    <img src="{{shop.logo_image}}" class="avatar">
                    <figcaption class="shop-name">{{shop.name}}</figcaption>
                </figure>
            </div>
            <div class="item item-info">
                <p class="description">{{shop.catch}}</p>
                <ul class="meta">
                    <li>アクセス: {{shop.access}}</li>
                    <li>住所: {{shop.address}}</li>
                    <li>lat: {{shop.lat}}</li>
                    <li>lng: {{shop.lng}}</li>
                </ul>
                <p class="center"><a href="http://www.hotpepper.jp/str{{shop.id}}/" target="_blank" class="pure-button pure-button-primary button-small">店舗詳細を見る</a></p>
            </div>
        </div>
      </article>
    </section>

    <section class="map-view" id="map-view"></section>
  </div>

</body></html>
