@charset "utf-8";

@import "compass/css3";

body {
  background-color: #f1f2f3;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

h1 {
  color: #123;
}

.entry {
  margin-bottom: .5em;
}

.angular-google-map-container {
  height: 400px;
}

%_item {
  display: table-cell;
  vertical-align: top;
}

.result-layout {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.entry-collection-view {
  width: 240px;
  @extend %_item;
}

.map-view {
  @extend %_item;
}
